<div class="row justify-content-center">
    <table class="table table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Date</th>
                <th>Match</th>
                <th>League</th>
                <th>Your Bet</th>
                <th>You Scored</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of history">
                <td>{{ item.date }}</td>
                <td>{{ item.team1 }} vs {{ item.team2 }}</td>
                <td>{{ item.cType }}</td>
                <td>{{ item.bet }}</td>
                <td>{{ item.won }}</td>
                <td>
                    <a class="nav-link" href="{{item.link}}">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>