<div class="row justify-content-center">
    <table class="table table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Match</th>
                <th>League</th>
                <th>Your Bet</th>
                <th>You Scored</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of history">
                <td>{{ i.match }}</td>
                <td>{{ i.league }}</td>
                <td>{{ i.bet }}</td>
                <td>{{ i.won }}</td>
            </tr>
        </tbody>
    </table>
</div>