<div class="row justify-content-center">
    <table class="table table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>League</th>
                <th>Your Bet</th>
                <th>You Scored</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of history">
                <td>{{ i.team1 }}</td>
                <td>{{ i.team2 }}</td>
                <td>{{ i.cType }}</td>
                <td>{{ i.bet }}</td>
                <td>{{ i.won }}</td>
            </tr>
        </tbody>
    </table>
</div>