<app-navbar [title]="title"></app-navbar>
<br><br><br>
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h2 class="card-title"> {{ displayName }}</h2>
          </div>
          <mat-tab-group class="demo-tab-group col-12">
            <mat-tab label="Profile">
              <div class="demo-tab-content">
                <app-profile-card [email]="email" [coins]="coins"></app-profile-card>
              </div>
            </mat-tab>
            <mat-tab label="Your History">
              <div class="demo-tab-content">
                <app-history-card></app-history-card>
              </div>
            </mat-tab>
            <mat-tab label="Change password">
              <div class="demo-tab-content">
                <div class="row justify-content-center">
                  <form [formGroup]="changePasswordForm">
                    <div class="md-form">
                      <i class="fa fa-lock prefix grey-text"></i>
                      <input type="password" formControlName="currentPassword" id="orangeForm-pass" class="form-control" [(ngModel)]="currentPassword"
                        mdbInputDirective>
                      <label for="orangeForm-pass">Current password</label>
                    </div>

                    <div class="md-form">
                      <i class="fa fa-lock prefix grey-text"></i>
                      <input type="newPassword" formControlName="newPassword" id="orangeForm-pass" class="form-control" [(ngModel)]="newPassword"
                        mdbInputDirective>
                      <label for="orangeForm-pass">New password</label>
                    </div>

                    <div class="md-form">
                      <i class="fa fa-lock prefix grey-text"></i>
                      <input type="confirmNewPassword" formControlName="confirmNewPassword" id="orangeForm-pass" class="form-control" mdbInputDirective>
                      <label for="orangeForm-pass">Confirm new password</label>
                    </div>
                    <p class="red-text" *ngIf="signUpLabelVisible">{{ signUpLabelText }}</p>
                    <div class="text-center">
                      <input type="submit" class="btn btn-warning btn-rounded waves-light" mdbWavesEffect value="Change Password">
                    </div>
                  </form>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>