<div class="row">
  <div class="col-md-6">
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">looks_one</i>
            </div>
              <p class="card-category">{{ winnerPlayer.displayName }}</p>
              <h3 class="card-title">{{ winnerPlayer.coins }}
                  <small>coins</small>
              </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Winner
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">looks_two</i>
            </div>
            <p class="card-category">{{ runnersUpPlayer.displayName }}</p>
            <h3 class="card-title">{{ runnersUpPlayer.coins }} <small>coins</small></h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                Runners Up
              </div>
          </div>
      </div>
  </div>
</div>