<div class="container">
  <h3>Today's Matches</h3>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let match of matches">
      <div class="card">
        <!--Card content-->
        <div class="card-body" *ngIf="match.team1 != null && match.team2 != null">
          <div class="row justify-content-md-center">
            <div id="home-team" class="col">
              <img class="img-thumbnail team-flag float-left" src="{{ match.team1.flag }}">
              <br>
              <span class="float-left">{{ match.team1.shortName }}</span>
            </div>
            <div id="away-team" class="col">
              <img class="img-thumbnail team-flag float-right" src="{{ match.team2.flag }}">
              <br>
              <span class="float-right">{{ match.team2.shortName }}</span>
            </div>
          </div>
          <br>
          <h4 class="card-title text-center">{{ match.team1.name }} vs {{ match.team2.name }}</h4>
          <p class="card-text text-center">{{ match.date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>