<div class="container">
  <div class="row">
    <h3 class="info-text">{{ league.name }}</h3>
  </div>
  <br>
  <div class="row">
    <mat-tab-group class="demo-tab-group col-12">
      <mat-tab label="My Answer">
        <div class="demo-tab-content">
          <app-competing-teams [team1]="league.match.team1" [team2]="league.match.team2"></app-competing-teams>
          <br>
          <div class="container">
            <h4>Guess the following stats...</h4>
            <ol>
              <li *ngFor="let question of questions">
                <div class="row">
                  <p class='col-6'>
                    {{ question.question }}
                  </p>
                  <p class='col-2'>
                    <mat-slide-toggle class="example-margin">
                    </mat-slide-toggle>
                  </p>
                </div>
              </li>
            </ol>
          </div>
          <div class="row justify-content-center" *ngIf="!alreadyBetted && !league.locked">
            <app-bet-btn (betted)="onBetClicked($event)"></app-bet-btn>
          </div>
          <div class="row justify-content-center" *ngIf="alreadyBetted && !league.locked">
            <button type="button" class="btn btn-success waves-light" mdbWavesEffect (click)="onWithdrawClicked()">
              Withdraw From Bet
            </button>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Answer" disabled="{{ !answersVisible }}">
        <div class="demo-tab-content">
          <app-competing-teams [team1]="league.match.team1" [team2]="league.match.team2"></app-competing-teams>
          <br>
          <div class="container">
            <h4>Following are the answers...</h4>
            <ol>
              <li *ngFor="let question of questions">
                <div class="row">
                  <p class='col-6'>
                    {{ question.question }}
                  </p>
                  <p class='col-2'>
                    <i class="material-icons" *ngIf="question.answer">check</i>
                    <i class="material-icons" *ngIf="!question.answer">cancel</i>
                  </p>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Leaderboard" disabled="true">
        <div class="demo-tab-content">
          
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>