.demo-tab-group {
    border: 1px solid #e8e8e8;
}

.demo-tab-content {
    padding: 16px;
}

mat-tab-group {
    background: white;
}
  
.team-flag {
    width: 150px;
}

#home-team {
    div{
        margin-left: 20px;
    }
}

#away-team {
    div{
        margin-right: 20px;
    }
}