<div class="container">
  <div class="row">
    <h3 class="info-text">{{ league.name }}</h3>
  </div>
  <br>
  <div class="row">
    <mat-tab-group class="demo-tab-group col-12">
      <mat-tab label="My Answer">
        <div class="demo-tab-content">
          <app-competing-teams [team1]="league.match.team1" [team2]="league.match.team2"></app-competing-teams>
          <br>
          <h4 *ngIf="alreadyBetted" class="red-text">You have betted {{ userAnswerRaw.coinsBet }} coins for this league</h4>
          <div class="row justify-content-center">
            <mat-slider min="{{ minVal }}" max=" {{ maxVal }}" step="1" value="{{ userAnswer }}" class="col-6" (input)="onSliderChange($event)"
              disabled="{{ league.locked }}"></mat-slider>
          </div>
          <p class="text-center">
            You think {{ selectedResult }}
          </p>
          <div class="row justify-content-center" *ngIf="!alreadyBetted && !league.locked">
            <app-bet-btn (betted)="onBetClicked($event)" [coinsBet]="coinsToBet"></app-bet-btn>
          </div>
          <div class="row justify-content-center" *ngIf="alreadyBetted && !league.locked">
            <button type="button" class="btn btn-success waves-light" mdbWavesEffect (click)="onWithdrawClicked()">
              Withdraw From Bet
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Result" disabled="{{ !league.match.finished }}">
        <div class="demo-tab-content">
          <app-competing-teams [team1]="league.match.team1" [team2]="league.match.team2"></app-competing-teams>
          <br>
          <div class="row justify-content-center">
            <h3>{{ matchResultText }}</h3>
          </div>
          <br><br>
        </div>
      </mat-tab>
      <mat-tab label="Leaderboard" disabled="true">
        <div class="demo-tab-content">

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>