<div class="row">
  <div class="col-md-6">
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail</i>
            </div>
              <h2 class="card-category">{{ email }}</h2>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <h3 class="card-title"> {{ coins }} <small>coins</small></h3>
          </div>
      </div>
  </div>
</div>