<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-slide>
    <div class="view">
      <img class="d-block w-100" src="https://vancouver-mp7static.mlsdigital.net/styles/image_landscape/s3/images/Telstar18edits.jpg?_YoOpXK0ajU8ZI_UYTbKHzt2zm6RQ2rX&itok=zygrdoaM&c=0b087d7bd762a2309396ce7021e22ec2" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">FIFA 2018</h3>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <div class="view">
      <img class="d-block w-100" src="/assets/img/custom/collage.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Fan pic Contest</h3>
    </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <div class="view">
      <img class="d-block w-100" src="https://img01.siam2nite.com/bLM_jt2GaQtxxniBoqWfy6GwBJk=/smart/magazine/articles/867/cover_large_p1cfnbkhoj19p8av01fm1eih1615.jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
  </mdb-slide>
  <!--/Third slide-->
  <!--Fourth slide-->
  <mdb-slide>
    <div class="view">
      <img class="d-block w-100" src="/assets/img/stadium-wallpaper.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">FIFA 2018</h3>
    </div>
  </mdb-slide>
  <!--/Fourth slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->