<div class="row">
  <div class="col" id="home-team">
    <img class="img-thumbnail team-flag float-left" src="{{ team1.flag }}" />
    <br>
    <div class="float-left">
      <h5>{{ team1.name }}</h5>
      <h6>{{ team1.shortName }}</h6>
    </div>
  </div>
  <div class="col" id="away-team">
    <img class="img-thumbnail team-flag float-right" src="{{ team2.flag }}">
    <br>
    <div class="float-right">
      <h5>{{ team2.name }}</h5>
      <h6>{{ team2.shortName }}</h6>
    </div>
  </div>
</div>